@model Zajezdnia_Tramwajowa.Przystanek

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Przystanek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaPrzystanku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaPrzystanku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trasa.NazwaTrasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trasa.NazwaTrasy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IDPrzystanku }) |
    @Html.ActionLink("Powrót do listy przystanków", "Index")
</p>
