@model Maszynista

@{
    ViewBag.Title = "Przejazdy";
}

<h2>Przejazdy</h2>

<div>
    <h4>Maszynista</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.IDMaszynisty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDMaszynisty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stawka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stawka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

    </dl>
</div>
@if (Model.Przejazd != null)
{
@Html.Partial("~/Views/Maszynista/Details_Przejazdy.cshtml", Model.Przejazd)
}
@if (Model.Przejazd.Count > 0)
{
    if (Model.Przejazd.First() != null)
    {
@Html.ActionLink("Dodaj Przejazd", "Dodaj_przejazd", new { IdPrze = Model.Przejazd.First().IDPrzejazdu })
    }
}
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IDMaszynisty }) |
    @Html.ActionLink("Powrót do listy motorniczych", "Index")
</p>
