@model Zajezdnia_Tramwajowa.Models.MaszynistaAndPrzejazdy

@{
    ViewBag.Title = "Przejazdy";
}

<h2>Przejazdy</h2>

<div>
    <h4>Maszynista</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.M.IDMaszynisty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M.IDMaszynisty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M.Stawka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M.Stawka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M.Nazwisko)
        </dd>

    </dl>
</div>
@Html.Partial("~/Views/Maszynista/Details_Przejazdy.cshtml", Model.Przejazdy)
@Html.ActionLink("Dodaj Przejazd", "Dodaj_przejazd", new { IDMaszynisty = Model.M.IDMaszynisty, Stawka = Model.M.Stawka, Imie = Model.M.Imie, Nazwisko = Model.M.Nazwisko })
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.M.IDMaszynisty }) |
    @Html.ActionLink("Back to List", "Index")
</p>
