@model IEnumerable<Zajezdnia_Tramwajowa.Przejazd>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Czas odjazdu")
        </th>
        <th>
            @Html.DisplayName("ID Przejazdu")
        </th>
        <th>
            @Html.DisplayName("ID Tramwaju")
        </th>
        <th>
            @Html.DisplayName("Model pojazdu")
        </th>
        <th>
            @Html.DisplayName("Nazwa trasy")
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CzasOdjazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDPrzejazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDTramwaju)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tramwaj.ModelPojazdu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trasa.NazwaTrasy)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edytuj_przejazd", new { id = item.IDPrzejazdu }) |
                @Html.ActionLink("Usuń", "Usun_przejazd", new { id = item.IDPrzejazdu, m = item })
            </td>
        </tr>
        }
    }

</table>