@model Zajezdnia_Tramwajowa.Models.MaszynistaAndPrzejazd
@{
    ViewBag.Title = "Dodaj_przejazd";
}

<h2>Dodaj Przejazd</h2>
<div>
    <h4>Maszynista</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Masz.IDMaszynisty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masz.IDMaszynisty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masz.Stawka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masz.Stawka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masz.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masz.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Masz.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Masz.Nazwisko)
        </dd>

    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h5 style="color: red">@ViewBag.Exception</h5>
    <div class="form-horizontal">
        <h4>Przejazd</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Prze.IDMaszynisty, new { @Value = Model.Masz.IDMaszynisty })
                @Html.ValidationMessageFor(model => model.Prze.IDMaszynisty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prze.IDTramwaju, "IDTramwaju", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prze.IDTramwaju, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prze.IDTramwaju, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prze.IDTrasy, "IDTrasy", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prze.IDTrasy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prze.IDTrasy, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prze.CzasOdjazdu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prze.CzasOdjazdu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prze.CzasOdjazdu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Masz.IDMaszynisty, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Masz.IDMaszynisty, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Masz.Stawka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Masz.Stawka, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Masz.Imie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Masz.Imie, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Masz.Nazwisko, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Masz.Nazwisko, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>

</div>
@Html.ActionLink("Back to List", "Details", new { id=Model.Masz.IDMaszynisty})
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
