@model IEnumerable<Zajezdnia_Tramwajowa.Maszynista>

@{
    ViewBag.Title = "Index";
}

<h2>Maszyniści</h2>

<p>
    @Html.ActionLink("Dodaj przez LINQ", "Create")
    <br />
    <br />
    @Html.ActionLink("Dodaj przez Procedure", "Create")
    <br />
    <br />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stawka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stawka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Imie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nazwisko)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IDMaszynisty }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IDMaszynisty }) |
            @Html.ActionLink("Przejazdy", "Details", new { id = item.IDMaszynisty })
        </td>
    </tr>
}

</table>
