@model Zajezdnia_Tramwajowa.Przejazd

@{
    ViewBag.Title = "Usun_przejazd";
}

<h2>Usun_przejazd</h2>

<h3>Jesteś pewien?</h3>
<div>
    <h4>Przejazd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CzasOdjazdu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasOdjazdu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maszynista.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maszynista.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tramwaj.ModelPojazdu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramwaj.ModelPojazdu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trasa.NazwaTrasy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trasa.NazwaTrasy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
