@model Zajezdnia_Tramwajowa.Przejazd

@{
    ViewBag.Title = "Usun przejazd";
}

<h2>Usuń przejazd</h2>

<h3>Jesteś pewien?</h3>
<div>
    <h4>Przejazd</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Czas odjazdu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CzasOdjazdu)
        </dd>

        <dt>
            @Html.DisplayName("Imię motorniczego")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maszynista.Imie)
        </dd>

        <dt>
            @Html.DisplayName("Model pojazdu")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tramwaj.ModelPojazdu)
        </dd>

        <dt>
            @Html.DisplayName("Nazwa trasy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trasa.NazwaTrasy)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do motorniczego", "Details", new { id = Model.IDMaszynisty })
        </div>
    }
</div>
