@model IEnumerable<Zajezdnia_Tramwajowa.Przystanek>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nazwa przystanku")
        </th>
        <th>
            @Html.DisplayName("Nazwa trasy")
        </th>
        <th></th>
    </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaPrzystanku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trasa.NazwaTrasy)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edytuj_przystanek", new { id = item.IDPrzystanku }) |
            @Html.ActionLink("Usuń", "Usun_przystanek", new { id = item.IDPrzystanku })
        </td>
    </tr>
    }
}

</table>
