@model Zajezdnia_Tramwajowa.Trasa

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Trasa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nazwa trasy")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaTrasy)
        </dd>

    </dl>
</div>
@if (Model.Przystanek != null)
{
    @Html.Partial("~/Views/Trasa/Details_Przystanki.cshtml", Model.Przystanek)
}
@if (Model.Przystanek.Count > 0)
{
    if (Model.Przystanek.First() != null)
    {
        @Html.ActionLink("Dodaj Przystanek", "Dodaj_przystanek", new { IdPrz = Model.Przystanek.First().IDPrzystanku })
    }
}
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IDTrasy }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
